aux/
dist/
.cask/
pdf-tools-*.tar
pdf-tools-*/
pdf-tools-readme.txt
pdf-tools-1.0.entry
.git-fetch
test/test.aux
test/test.log
test/test.out
test/test.upa
test/test.upb
*.elc
/lisp/pdf-tools-autoloads.el
/pdf-tools-autoloads.el
/pdf-tools-pkg.el
