[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Emacs support library for PDF files.
[access "refs/*"]
	owner = group user/Vedang Manerikar (vedang)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vedang Manerikar (vedang)
	label-Verified = -1..+1 group user/Vedang Manerikar (vedang)
	push = group user/Vedang Manerikar (vedang)
	read = group user/Vedang Manerikar (vedang)
	rebase = group user/Vedang Manerikar (vedang)
	removeReviewer = group user/Vedang Manerikar (vedang)
	submit = group user/Vedang Manerikar (vedang)
[access "refs/heads/*"]
	create = group user/Vedang Manerikar (vedang)
	push = +force group user/Vedang Manerikar (vedang)
	pushMerge = group user/Vedang Manerikar (vedang)
	read = group user/Vedang Manerikar (vedang)
[access "refs/tags/*"]
	push = group user/Vedang Manerikar (vedang)
	push = +force group user/Vedang Manerikar (vedang)
